
<meta charset="UTF-8">
<title>BMI form </title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
<style>
    body { padding-top:20px; }    
</style>
