<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <% include ./head %>
    <script src="/tasksForm.js"></script>
    <title>This is Task Form</title>
</head>

<body class="container">
    <main>
        <h4>This is a list of tasks, version 1995</h4>
    </main>
    <form>
        <% tasks.forEach(task => { %>
        <div class="row" style="margin-top:10px">
            <div class="col-sm-4">
                <button class="btn btn-sm btn-info"><i class="fa fa-check-square"></i></button>
                <a href="" class="btn-light">
                    <%= task.title %></a>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-sm btn-danger"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <% }) %>

        <!-- <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-sm btn-info"><i class="fa fa-check-square"></i></button>
                <a href="" class="btn-light">This is task 1</a>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-sm btn-danger"><i class="fa fa-close"></i></button>
            </div>
        </div> -->
        <div class="row" style="margin-top:20px">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Enter task's name" id="height">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-sm btn-primary" id="btn-add-task"><i class="fa fa-plus-circle"></i></button>
            </div>

        </div>

    </form>
    <footer>
        <% include ./footer %>
    </footer>

</body>

</html>