<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <% include ./head %>
    <script src="/weatherForm.js"></script>
    <title>This is Task Form</title>
</head>

<body class="container">
    <main>
        <h4>Ha noi</h4>
    </main>
    <div class="row" style="margin-top:10px">
        <div class="col-sm-2">
            <button class="btn btn-sm btn-info">                    
                <img src=<%= forecast.urlImage %> 
                    class="img-fluid" >
            </button>
        </div>
        <div class="col-sx-4">
            <p><%= forecast.date%></p>
            <p><%= forecast.tempRange %></p>
            <p><%= forecast.content %></p>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-link" id="btn-tomorrow">Ngày mai</button>
        </div>
    </div>
    <footer>
        <% include ./footer %>
    </footer>

</body>

</html>